<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/notify.css">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <!-- <div>
    <h1>Notify all the Campus Ambassadors!</h1>
    </div>
    <form action="/admin/notify" method="post">
        <textarea rows="20" cols="112"></textarea>
        <button type="submit">Submit</button>
    </form> -->


    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin">Home</a>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin/notify">Notify</a>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin/assign">Assign Task</a>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin/info">Information</a>
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin/feedbacks">Feedbacks</a>

        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/">Sign out</a>
          </div>
        </div>
      </header>
      
          <main class="col-md-9 <!--ms-sm-auto--> col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Admin Dashboard</h1>
            </div>




    <div id="form-main">
        <h3>Notify to all the Campus Ambassadors!</h3>
        <div id="form-div">
          <form class="form" action="/admin/notify" id="form1" method="post">
            
            <p class="email">
              <input name="inputSubject" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Subject" />
            </p>
            
            <p class="text">
              <textarea name="inputContent" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Write here"></textarea>
            </p>
            
            
            <div class="submit">
              <button type="submit" value="SEND" id="button-blue">Send</button>
              <div class="ease"></div>
            </div>
          </form>
        </div>
</body>
</html>